.jumbotron {
background: url('http://www.worldpropertyjournal.com/news-assets/Singapore-skyline---Marina-Bay-2016-keyimage.jpg') no-repeat center;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover;
min-height: 66em;
color: rgb(243, 240, 240);
text-align: center;
}
#sky{
    font-size: 11.5rem;
    margin-bottom: 10.5rem;
    margin-top: 7.5rem;
    margin-right: 0.6rem;
    
    
}
#sky1{
    font-size: 2.5rem;
    margin-bottom: 7.6rem;
    margin-top: -4.7rem;
}